@import './base.css';

.orderby-col {
    position: relative;
    cursor: pointer;
}
.orderby-active {
    background-color: var(--color-secondary);
}
.orderby-active:after {
    content: '^';
    position: absolute;
    top: 10px;
    right: 5px;
}

.orderby-active.DESC:after {
    transform: rotate(180deg);
}


.markdown-output ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

/* Spinner  */
.loading {
    position: relative;
}

.loading-div {
    display: none;
    position: absolute;
    pointer-events: none;
    display: block;

    background: rgba(0, 0, 0, 1);
}

.loading-div:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
    border-radius: 50%;
    border: 3px solid var(--color-foreground);
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

.loading-message {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: var(--color-foreground);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

